.container {
    background-color: beige;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: beige;
}

button {
    background-color: white;
    color: beige;
    border: 2px solid beige;
}
